@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="withSignalRadmin">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Admin</title>
    <script src="~/scripts/jquery-1.6.4.min.js"></script>
    <script src="~/scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/script/angular.min.js"></script>
    <script src="~/scripts/angular-signalr-hub.min.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.0.1/angular-cookies.min.js'></script>
    <script src="~/script/angular-ui-router.min.js"></script>

    <script src="~/script/admin/withSignalR.js"></script>
    <script src="~/script/admin/service.js"></script>
</head>
<body>
    <div ui-view>
    </div>
</body>
</html>
